.popup__button {
  position: absolute;
  top: -30px;
  background-image: url('../../../images/plus.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  border: none;
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
}

.popup__button:hover {
    opacity: .6;
}

@media screen and (max-width: 580px) {
    .popup__button {
        width: 26px;
        height: 26px;
        top: -365px;
        left: 225px;
    }
}
