.element__button {
    border: none;
    background-image: url('../../../images/heart.svg');
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    width: 21px;
    height: 19px;
    margin-bottom: 35px;
}

.element__button:hover {
    opacity: .6;
}